####################################
# .NET / ASP.NET Core Ignore'larý
####################################

**/wwwroot/images/*
**/obj/*
**/bin/*

# Visual Studio
.vs/
.vscode/

# Kullanýcý spesifik ayarlar
*.suo
*.user
*.userosscache
*.sln.docstates

# Derleme çýktýlarý
*.dll
*.pdb
*.exe
*.app
*.out
*.lib
*.nupkg
*.snk

# Geçici dosyalar
.DS_Store
Thumbs.db

# Yapý ayarlarý
#launchSettings.json

# Diðer
DocumentLayout.json

####################################
# React (Vite + TypeScript) Ignore'larý
####################################

# node_modules
**/node_modules/

# Build çýktýsý
**/dist/

# .env dosyalarý
.env
.env.*.local

# NPM/Yarn log dosyalarý
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yarn ve pnpm store
.pnpm-store/
.yarn/
.yarnrc.yml

# TypeScript derleme cache
*.tsbuildinfo

# IDE klasörleri
.idea/

# Diðer potansiyel geçici sistem dosyalarý
ehthumbs.db